@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  min-width: 375px;
  height: 6715px;
}

.toolbar-container {
  top: 44px;
  height: 48px;
  min-width: 375px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  min-width: 114px;
  height: 40px;
  padding: 10px 12px;
  left: 12px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  height: 28px;
  text-decoration: none;
}

.menu-container {
  min-width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  margin-top: -20px;
}

.menu {
  left: 3px;
  top: 6px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  top: 92px;
  background-image: url(./assets/images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title-container {
  height: 192px;
  min-width: 327px;
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.hero-content-container {
  height: 164px;
  min-width: 327px;
}

.hero-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-container {
  min-width: 170.17px;
  height: 20px;
}

.social-media {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 30px;
}

.green-text {
  color: #36b37e;
}
