@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  min-width: 375px;
  height: 6715px;
}

.toolbar-container {
  top: 44px;
  height: 48px;
  min-width: 375px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
}

.logo-container {
  min-width: 114px;
  height: 40px;
  padding: 10px 12px;
  left: 12px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  height: 28px;
  text-decoration: none;
}

.menu-container {
  min-width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
  margin-top: -20px;
}

.menu {
  left: 3px;
  top: 6px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  top: 92px;
  background-image: url(./assets/images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title-container {
  height: 192px;
  min-width: 327px;
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.hero-content-container {
  height: 164px;
  min-width: 375px;
}

.hero-content {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.social-media-container {
  min-width: 170.17px;
  height: 20px;
}

.social-media {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 30px;
}

.green-text {
  color: #36b37e;
}

.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  min-width: 375px;
  height: 3283px;
  top: 708px;
}

.works-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  min-width: 327px;
  height: 107px;
}

.works-heading-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172B4D;
}

.green-divider-container {
  margin-top: -75px;
}

.works-cards-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 50px;
}

.works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 327px;
  height: 474px;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  gap: 20px;
}

.img-placeholder {
  margin-top: 15px;
  height: 225px;
  min-width: 327px;
}

.card-text-container {
  min-width: 295px;
  height: 60px;
}

.card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3A4A42;
}

.card-tech-container {
  min-width: 305px;
  height: 40px;
}

.card-tech-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  min-width: 327px;
  gap: 8px;
}

.card-tech-item {
  height: 20px;
  background: #EBF0EE;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3A4A42;
  margin-left: -30px;
  text-align: center; 
}

.card-button-container {
  min-width: 305px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
}

.card-button {
  width: 122px;
  height: 48px;
  left: calc(50% - 122px/2 + 0.5px);
  bottom: 8px;
  background: #36B37F;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}